
*.vsidx
.vs/mgs2mods/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.asi
/MGS2/MGS2.ConfigFiles
/MGS2/MGS2.ExtraConfigFiles
*.pdb
*.user
*.obj
*.recipe
*.iobj
*.ipdb
*.log
*.res
*.tlog
MGS2/MGS2.README.txt
MGS2/MGS2.RELEASES.txt
